* {
  box-sizing: border-box;
}
body {
	background: #5f8dbe;
	font-size: 18px;
	line-height: 150%;
	font-family: Arial, sans-serif;
}

h1, p {
	font-weight: bold;
}

h4 {
	font-style: italic;
}


.wrapper {
	width: 1024px;
	margin: 40px auto;
	text-align: center;
}

#picDisplay {
	margin: 20px;
}

#wordDisplay {
	font-size: 24px;
}
